.title {
    color: #FFF;
    font-family: Playfair Display;
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
    line-height: 29.333px;
    letter-spacing: -0.4px;
}

.logoImg {
    width: 83.785px;
    height: 55px;
    flex-shrink: 0;
}

.mainTtextStyle {
    color: var(--neutral-01, #FFF);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.linkStyle {
    color: var(--neutral-03, #DBDFD0);
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.redCircleBackground {
    background-color: #AD343E;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }
}


.copyright {
    color: var(--neutral-04, #ADB29E);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.instagramImage {
    border-radius: 12px;
    max-width: 100%;
    height: auto;
    display: block;
}