html {
  overflow-y: overlay;
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
<<<<<<< HEAD
  overflow-x: hidden;
=======
>>>>>>> main
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
<<<<<<< HEAD
  overflow-x: hidden;
=======
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
>>>>>>> main
}
